.projetos {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projetosContainer {
  margin: 50px 0;
  padding: 40px 10px 60px 10px;
  width: 100%;
  background-color: var(--background-gray-light);
  height: auto;
}

.textoProjetos p {
  font-family: var(--font-roboto);
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}


.slider {
 
  display: flex;
  justify-content: center;

  padding: 40px 0;
  margin: 0 30px;
}
.slider > div {
  padding: 20px 0;
}